h1 {
    color: darkslateblue
}

.about {
    background-color: wheat;
}

h2 {
    color: teal
}

h6 {
    color: brown;
}

.unord-list {
    background-color: crimson;
}

.background-color {
    background-color: black;
}
