
.background-main {
    background-color: dimgray;
}

.nav {
    padding-top: 10px;
    padding-left: 5px;
}

/* .main {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 0px;
} */

.header-one { 
    color: black;
    display: block;
    font-size: 2em;
    font-family: cursive;
    margin: 0%;
}

.header-two {
    color: black;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.header-three {
    color: black;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.text {
    color: black;
    padding-bottom: 10px;
}

.background-color {
    background-color: wheat;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0px;
}

li {
    color: black;
}
